:host {
    --root-text-color: #555555;
    --root-font-size: 14px;
    --root-line-height: 24px;
    --primary: #555555;
  --secondary: #c98702; 
  }
  .mppw-component-container {
    font-family: serif;
    color: var(--root-text-color);
    line-height: initial;
